In [4]:
1.
last_name = input('last_name을 입력하시오. ')
first_name = input('first_name을 입력하시오. ')
fullname = last_name + first_name
print(fullname)

last_name을 입력하시오.  kim
first_name을 입력하시오.  nahyun

kimnahyun

In [32]:
2.
oil = int(input("Amount of oil(L) : "))
if oil < 10 :
    print("You need more oil!!")
else : 
    print("You have enough oil.")

Amount of oil(L) :  8

You need more oil!!

In [37]:
3. 
height = int(input("Height : "))
weight = int(input("Weight : "))
height/=100
BMI = weight/(height*height)
if BMI < 20 :
    print("BMI : {}, 저체중입니다.".format(BMI))
elif BMI >= 20 and BMI <=24 :
    print("BMI : {}, 정상체중입니다.".format(BIM))
elif BMI >= 25 and BMI <= 30 :
    print("BMI : {}, 경도비만입니다.".format(BMI))
else :
    print("BMI : {}, 비만입니다.".format(BMI))

Height :  175
Weight :  78

BMI : 25.46938775510204, 경도비만입니다.

In [4]:
4. 
print(">>>")
n = 1
while n <= 10 :
    print("나무를" , n, "번 찍었다.")
    if n == 10 :
        print("나무가 넘어갔다.")
    n+=1
print(">>>")

>>>
나무를 1 번 찍었다.
나무를 2 번 찍었다.
나무를 3 번 찍었다.
나무를 4 번 찍었다.
나무를 5 번 찍었다.
나무를 6 번 찍었다.
나무를 7 번 찍었다.
나무를 8 번 찍었다.
나무를 9 번 찍었다.
나무를 10 번 찍었다.
나무가 넘어갔다.
>>>

In [14]:
5. 
sum = 0

while True :
    n = int(input("숫자를 입력하시오. "))
    if n == 0 : 
            break
    sum += n
print(sum)

숫자를 입력하시오.  1
숫자를 입력하시오.  2
숫자를 입력하시오.  3
숫자를 입력하시오.  4
숫자를 입력하시오.  5
숫자를 입력하시오.  0

15

In [18]:
6. 
for i in range(2,10) :
    for j in range(1,10) :
        print(i, '*', j, '=', i*j )
    print("-------------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-------------------

In [28]:
7. 
price = {"춘천" : "5,000원", "부산" : "30,000원", "대구" : "2,000원", "수원" : "10,000"}

dtn = input("장소를 입력하시오. ")
print(dtn, "행은 ", price[dtn], " 입니다.", sep='')

장소를 입력하시오.  부산

부산행은 30,000원 입니다.